/* Designed By: Gopal Othayoth: Spring 2024 */

body {
  background: darkseagreen;
  font-family: "Segoe UI", "Arial", sans-serif;
}

table {
  margin: 0 auto;
  width: 800px;
  background: aliceblue;
  text-align: center;
}

th, td {
  padding: 15px;
}

hr {
  width: 60%;
}
